.card-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card {
    margin: 1em;
    display: flex;
    flex-direction: column;
    max-width: 30em;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

.card-pic {
    
}

.card-pic img {
    max-width: 100%;
}

.card-title {
    font-family: Georgia,Times,Times New Roman,serif;
    align-self: center;
}

.card-price {
    font-family: Georgia,Times,Times New Roman,serif;
    align-self: center;
}